body{
  -webkit-font-smoothing: antialiased;

}
.content-warp{
  width: 100vw;
}
.jumbotron{
  padding: 20px 30px;
}
.about_warp{
  width: 100vw;
  height: 100vh;
  background-image: url(./img/gg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.btn{
  background-color: #FF5252;
}
.btn1{
  position: absolute;
  right: 10vw;
  top:180px;

}
.footer{
  width: 100vw;
  height: 20vh;
  background-color: #616161;

}
.thumbnail1{
  position:relative;
  height:400px;
  overflow:auto
}
.text-center{
  font-family: 'Raleway75d95108216c23'
}
.git-card{
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 6px;
  padding:10px;
  text-align: center;
}
.git-card h2{
  margin: 0;
  color:#00bcd4;
}
.about-form{
  display: inline;
  width: 80%;
  max-width: 560px;
}
.about_echert{
  width: 60vw;
  height: 50vh;
  color: #fff;
}
